mixin navbar()
  header.ts-navbar
    .ts-navbar__inner
      a.ts-navbar__brand(href='/') TypescriptNodeStarter
      nav.ts-navbar__navigation
        a.ts-navbar__link(href='/') Home 
        a.ts-navbar__link(href='/about') About
