include components/navbar

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title || 'Page'}
    link(rel="stylesheet", href="css/index.css")
    block styles
  body
    header
      block navigation
        +navbar()
      .container
        block header
    main
      .container
        block content

    block scripts
