extends ../layout.pug

block header
  +header('About Page')
    em Read about this project

block content
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo itaque ratione doloribus beatae qui ipsam, natus eius, assumenda placeat a ad. Omnis distinctio, cum voluptatem fugit voluptates dolore et repellendus?
